.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.newsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
