.header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    height: 60px;
}

.homeContainer, .newsContainer, .leaguesContainer {
    display: flex;
    margin-left: 1em;
    font-size: 20px;
}

